<div class="container">
  <h2>Creating a seamless and user-friendly experience for the web.</h2>
  <p>Hi everyone, my name is Jomar. I'm a web developer with a focus on front-end. I'm based out of Seattle, WA.</p>
</div>

<style>
  h2 {
    font-size: 3.75rem;
    margin-bottom: 0;
  }

  p {
    font-size: .875rem;
  }

  .container {
    max-width: 900px;
    margin-inline: auto;
    text-align: center;
  }
</style>