<nav>
  <p>Jomar Rumbawa</p>
  <ul>
    <li>About</li>
    <li>Blog</li>
    <li>Contact</li>
  </ul>
</nav>

<style>
  nav {
    display: flex;
  }

  p {
    margin-right: auto;
    text-transform: uppercase;
  }

  ul {
    display: flex;
    list-style: none;
  }
</style>
